<!-- Footer -->
<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <p>&copy; 2024 Olma Shop. All rights reserved.</p>
    <div class="d-flex justify-content-center">
      <a href="https://t.me/ahmadjonovazizbek" class="text-white me-4" target="_blank"><i class="fab fa-telegram"></i></a>
      <a href="https://github.com/1azikk1" class="text-white me-4" target="_blank"><i class="fab fa-github" ></i></a>
      <a href="https://instagram.com/1azikk1" class="text-white me-4" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>